h1 {
  font-family: "Times New Roman";
  font-size: 50px;
}

p {
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 20px;
}

img {
  padding: 25px;
}

.quotes {
  width: 33%;
  margin-right: auto;
  margin-left: auto;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  height: auto;
  margin-bottom: 20px;
}

.quote {
  font-size: 30px;
  font-family: "Times New Roman";
}

.author {
  font-size: 20px;
  font-style: italic;
}
